<% flash.each do |message_type, message_content| %>
    <div class="ui <%= message_type %> message transition"> <%# MESSAGE_TYPE WILL SEE THE 'SUCCESS' OR 'ERROR' FLASH MESSAGE TYPE FROM SESSIONS _CONTROLLER%>
        <i class="close icon"></i>
        <div class="header">
            <%= message_content %>
        </div>
    </div>
<% end %>
